{% extends "base.html" %}

{% block content %}
<h1 class="text-center">О нас</h1>
<b> Экскурсионное бюро </b> <br>
<b> Мы организуем экскурсии в городе Пушкин </b> Санкт-Петербург <br>
<p>Наша команда ценителей города Пушкин состоит из профессиональных экскурсоводов, переводчиков,
    аниматоров, игропрактиков, водителей автобусов и организаторов. Наши программы разработаны для разных
    категории &ndash; жители Санкт-Петербурга могут посетить одну из тематических эксурсий, а гости города
    скорее заинтересуются обзорной экскурсией с посещением Дворца и парка.</p>
<p>Миссия &ndash; сделать ваше пребывание в Царском Селе запоминающимся. </p><br>
<p>Услуги:</p>
<ul>
    <li>Организация школьных экскурсий и программ;</li>
    <li>Индивидуальные экскурсии;</li>
    <li>Проведение экскурсии для иностранных групп.</li>
</ul>
<div class="row m-3">
     <div class="col-12 video-frame col-centered rounded">
           <p class="put-inline-center">
                <iframe class="embed-responsive-item"
                src="https://rutube.ru/play/embed/7105cc7b5c4bb0d0e093bb314d36ae8d/?t=1&stopTime=30" frameBorder="0"
                allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </p>
     </div>
</div>
{% endblock %}

{% block footer %}
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Pushkin style
    </div>
</footer>
{% endblock %}